.languages-wrapper
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 20px
    width: 100%
    justify-content: space-between
    
.language-box
    border: 1px solid #c4c4c4
    display: flex
    align-items: center
    flex-direction: column
    background: #fff
    border-radius: 5px
    flex: 1

.language-icon
    font-size: 5rem