.features
    display: flex
    max-width: 1000px
    padding: 0 20px
    margin: 0 auto

.feature
    background: pink
    margin: 0 20px
    text-align: center

    &__text
        text-align: left
