@import '../../vars.sass'
    
.footer
    box-sizing: border-box
    width: 100%
    background-color: $brand

    &-container
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        max-width: 1000px
        margin: 0 auto

        @media (max-width: 500px)
            flex-direction: column

    &-logo 
        margin: 0
        color: white

        @media (max-width: 500px)
            margin-bottom: 1rem


.footer-nav
    display: flex

    a, .nav-link
        font-size: 1rem
        margin-right: 1rem
        padding: 0
        color: white

        &:hover
            color: black

    .active
        color: white